<form>
    <div class="form-row">
      <div class="col-6 offset-3">
        <label>Id</label>
        <input type="text" class="form-control" placeholder="Id" [(ngModel)]="homeObj.id" name="Id">
      </div><br>
     
      <div class="col-6 offset-3">
        <label>Enter UserId</label>
       <input type="text" class="form-control" placeholder="UserId" [(ngModel)]="homeObj.userId" name="userId">
      </div><br>
      
      <div class="col-6 offset-3">
        <label>Enter Title</label>
        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="homeObj.title" name="title">
       </div><br>
      
       <div class="col-6 offset-3">
        <label>Enter Description</label>
        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="homeObj.body" name="body">
       </div>
    </div>
  </form>
